**/bin
**/obj
**/*.user
**/*.suo
**/*.cache
**/.vs
**/TestResults
*.sln.docstates
*.csproj.user
appsettings.Development.json
**/logs
*.tmp
*.bak
*.log
*.pdb
*.zip
*.rar
*.7z
*.tar
*.gz
*.tgz
*.bz2
*.xz
*.exe
*.dll
*.so
*.dylib
*.o
*.a
*.lib
*.exp
*.ilk
*.map
*.ncb
*.opendb
*.aps
*.bsc
*.sbr
*.res
*.pch
*.ipch
*.obj
*.idb
*.tlog
*.vspscc
*.vssscc
*.buildlog